<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Boas vindas!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <div class="slide bv">
        <img src="https://media.discordapp.net/attachments/861650276519641109/994684942393032774/helloC.png" />
        <h2>Bem vindos(as)!</h2>
        <p>
          Ao nosso aplicativo, <b>Athens</b>. Ficamos muito felizes em estar podendo te receber por aqui. Esperamos que você goste daqui!
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide oq">
        <img src="https://media.discordapp.net/attachments/861650276519641109/994696493799841922/athens.png" />
        <h2>O que é Athens?</h2>
        <p>
          <b>Athens</b> é um grupo composto por quatro (04) jovens estudantes do segundo (2º) ano do ensino médio que se preocupam com o baixo índice de pessoas que já estudaram em algum período da vida e utilizam e que buscaram facilitar o aprendizado sobre a <b>Educação Financeira</b>, mostrando o quanto que a organização do dinheiro é totalmente descomplicada.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide pq">
        <img src="https://media.discordapp.net/attachments/861650276519641109/994696493799841922/athens.png" />
        <h2>Por que Athens?</h2>
        <p>
          <b>Athens</b> é um nome baseado na deusa grega da sabedoria, estratégia, artes, inteligência, guerra e justiça Athena (Atena, em português) e traduzido para o sueco, esse nome foi escolhido porque remete a passagem de conhecimento ao próximo.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide ed">
        <img src="https://media.discordapp.net/attachments/861650276519641109/994684355265953872/question.png" />
        <h2>O que é Educação Financeira?</h2>
        <p>
          A <b>Educação Financeira</b> é uma ferramenta indispensável às pessoas que querem ser bem sucedidas, pois ensina muito além da parte apenas monetária, como cuidar dos bens materiais e etc., mas como também de manter uma vida segura e estável economicamente, pólices de seguros e coisas que você possa se apoiar em caso de acidentes.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide f">
        <img src="https://media.discordapp.net/attachments/861650276519641109/994683882223980654/earning.png" />
        <h2>Preparados(as) para adentrar neste mundo?</h2>
        <ion-button fill="clear" href="/tabs/tab2">Vamos! <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
